* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-size: 30px;
    background-color: #EAECEE;
    color: #2C3E50;
    text-align: center;
    margin: 50px auto;
    padding: 25px 0px;
}

/*Table Setup*/
table {
    border-collapse: collapse; /*ทำตารางเส้นเดียว*/
    max-width: 1000px; /*จำกัดความกว้าง*/
    margin: 70px auto; /*จัดขอบให้อยู่ตรงกลาง*/
    text-align: center; /*จัด text กลาง*/ 
}

th,td {
    border: #EAECEE solid 1px; /*แต่งเส้นตาราง*/
    padding: 10px; /*เว้นอักษรกับขอบ*/
}

th {
    background-color: #2C3E50;
    color:  #ABB2B9;
}

thead th {
    font-size: 25px;
    font-weight: 100;
}

.odd td {  
    background-color: #F8F9F9;
}

.even td {
    background-color: #EAECEE;
}

.detail-box {
    max-width: 500px;
    margin: auto;
    text-align: left;
}

.detail-box-s {
    max-width: 200px;
    margin: auto;
    text-align: left;
}

.odd td:hover {
    background-color: #ffffff;
}

.even td:hover {
    background-color: #ffffff;
}

